.footer{
    margin: 50px 170px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.footer-top-left{
    font-size: 20px;
    max-width: 400px;
}
@media(max-width:768px){
    .footer{
        margin: 50px 70px;
        
    }
    .footer-top{
        flex-direction: column;
        gap: 50px;
    }
    .footer-bootom{
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }

}